<section [@fadeInOnEnter] [@fadeOutOnLeave]>
  <nb-card accent="primary">
    <nb-card-header>
      <h4>Atualização de tabela de preços</h4>
      <p class="text-desc">Selecione um prestador para consultar e alterar as tabelas de preços.</p>
    </nb-card-header>
    <nb-card-body>

      <nb-search class="mt-3" type="rotate-layout" placeholder="Digite o nome" hint="Aperte enter para pesquisar"></nb-search>
    </nb-card-body>
  </nb-card>

  <nb-card style="max-height: 400px" accent="danger" *ngIf="alreadySearched" [@fadeInOnEnter] [@fadeOutOnLeave]>
    <nb-card-header>
      Resultados da pesquisa
    </nb-card-header>
    <nb-list>
      <nb-list-item *ngFor="let fornecedor of resultFornecedores" nbTooltip="Ver informações sobre {{fornecedor.nome}}" (click)="openFonecedorWindow(fornecedor)">
        {{ fornecedor.nome }}  <span class="float-right" >{{fornecedor.tabelaPreco.length }} tabelas</span>
      </nb-list-item>

      <nb-list-item *ngIf="alreadySearched && resultFornecedores.length === 0">
        Nenhum resultado encontrado
      </nb-list-item>

    </nb-list>
  </nb-card>
</section>

<ng-template #contentTemplate let-data >
  <div style="max-height: 70vh; overflow-y: auto">
    <div *ngIf="!selectedTabela" [@fadeInOnEnter]>
      <h4 class="mb-3">Tabelas de preço vigentes do prestador</h4>

      <table class="table table-striped" [@fadeInOnEnter] [@fadeOutOnLeave] style="max-height: 300px;">
        <thead>
        <tr>
          <th>Código</th>
          <th>Tipo</th>
          <th>Itens</th>
          <th>Vigência atual</th>
          <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let tabela of selectedFornecedor.tabelaPreco">
          <td>{{tabela.codigo}}</td>
          <td>{{tabela.tipo}}</td>
          <td>{{tabela.qtdItens}}</td>
          <td>{{tabela.dateVigenciaAtual}}</td>
          <td> <button nbButton size="tiny" outline status="info" (click)="selectedTabela = tabela; ">atualizar</button></td>
        </tr>
        </tbody>
      </table>
      <div>
        <span *ngIf="selectedFornecedor.tabelaPreco.length > 0" class="float-right mr-2"> <b>{{selectedFornecedor.tabelaPreco.length}}</b> tabelas</span>
      </div>
    </div>

    <div *ngIf="selectedTabela" [@fadeInOnEnter]>
      <div [@fadeInOnEnter] [@fadeOutOnLeave]>
        <h6>{{selectedFornecedor.nome}} <span style="font-size: 10px; color:  #6f6f6f;">Tabela {{selectedTabela.codigo}} - Tipo {{selectedTabela.tipo}}</span></h6>
        <nb-card accent="primary">
          <nb-card-body>
            <h5>Detalhes da negociação:</h5>
            <textarea id="detalhes" height="4" nbInput fullWidth fieldSize="tiny"
                                  placeholder="Digite os detalhes da negociação" style="width: 100%;"></textarea></nb-card-body>
        </nb-card>
        <div style="margin-top: 10px; display: grid; grid-template-columns: 1fr 1fr; grid-gap: 10px">

          <nb-card accent="info">
            <nb-card-body>
              <h5>Aplicar taxa de (%):</h5>
              <input type="number" fieldSize="medium" fullWidth nbInput [(ngModel)]="negociacaoObject.taxa" (input)="calculaValorNovo()"></nb-card-body>
          </nb-card>

          <nb-card accent="warning">
            <nb-card-body>
              <h5>A partir de (vigência):</h5>
              <input [(ngModel)]="negociacaoObject.date" fullWidth nbInput fieldSize="medium" [nbDatepicker]="rangepicker">
              <nb-rangepicker #rangepicker></nb-rangepicker></nb-card-body>
          </nb-card>
        </div>

        <table class="table table-striped" style="max-height: 200px; overflow-y: auto">
          <thead>
          <tr>
            <td>Codigo</td>
            <td>Desc.</td>
            <td>Vl. Filme</td>
            <td>Vl. Total</td>
            <td>Vl. Novo</td>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of listaItens">
            <td>{{item.codigo}}</td>
            <td>{{item.descricao}}</td>
            <td>{{item.valorFilme | currency: 'BRL': true}}</td>
            <td>{{item.valorTotal | currency: 'BRL': true}}</td>
            <td><input type="currency" fieldSize="tiny" nbInput [(ngModel)]="item.valorNovo"></td>
          </tr>
          </tbody>
        </table>
      </div>
      <div>
        <button nbButton  style="margin-left: 10px;" size="small" shape="round"
                status="info"
                (click)="selectedTabela = null"><nb-icon [icon]="'corner-up-left-outline'"></nb-icon></button>
        <button nbButton  style="margin-left: 10px; float: right;" size="small" shape="round"
                status="primary"
                (click)="closeModal()">Gravar</button>
      </div>

    </div>
  </div>


</ng-template>
