@import '../../styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {
  .menu-sidebar ::ng-deep .scrollable {
    padding-top: nb-theme(layout-padding-top);
  }
  .drop-zone-modifier {
    border-radius: 8px;
    box-shadow: 0 0.5rem 0.5rem 0 rgba(44, 51, 73, 0.05);
  }
}
.drop-zone-modifier {
  border-radius: 8px;
  box-shadow: 0 0.5rem 0.5rem 0 rgba(44, 51, 73, 0.05);
}

.transition {
  transition: 0.125s all ease-in-out;
}
